*
{
    margin: 0;
    padding: 0;
}

.canvas_container
{
    position: relative;
    top: 48px;
    border: 1px solid #e1e1e1;
    box-shadow: 1px 4px 9px rgba(0, 0, 0, 0.3);
    font-family: verdana;
    text-align: center;
    height: 495px;
}

.mouse_visibility_field
{
    height: 595px;
    width: 700px;
    margin: 0 auto;
}

.area_for_nick
{
    border: 1px solid grey;
    width: 200px;
    height: 40px;
    font-size: 20px;
    position: absolute;
    top: -45px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    text-align: center;
}

.start_button
{
    width: 130px;
    height: 40px;
    background: #5d3954;
    font-size: 20px;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.change_name_button
{
    width: 130px;
    height: 40px;
    background: #5d3954;
    font-size: 20px;
    position: absolute;
    top: 80px;
    left: 170px;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
}