html, body
{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.canvas
{
    display: block;
    border: 1px solid grey;
}

.mouse_visibility_field
{
    height: 100%;
    width: 42%;
    margin: 0 auto;
}

.start_button
{
    width: 130px;
    height: 40px;
    background: #1e90ff;
    font-size: 20px;
    position: relative;
    top: -340px;
    left: 345px;
}

.information_about_player
{
    width: 800px;
    margin: 50px auto;
    font-family: Times New Roman;
    font-size: 20px;
}

.player_nick, .player_score
{
    opacity: 0;
}