*
{
    margin: 0;
    padding: 0;
}

body
{
    background: #000;
    font: 14px monospace;
    color: #84a4ff;
    margin: 0;
}

.main_container_with_border
{
    border: 5px solid #84a4ff;
    box-shadow: 0 0 25px #84a4ff;
    position: relative;
    top: 45px;
}

.canvas_container
{
    opacity: 0.5;
    background: url('../img/background.jpg');
    background-size: cover;
    font-family: verdana;
    text-align: center;
    position: relative;
}

.mouse_visibility_field
{
    width: 900px;
    height: 595px;
    margin: 0 auto;
}

.area_for_name
{
    width: 200px;
    height: 40px;
    border: 1px solid grey;
    font-size: 20px;
    font-family: sans-sefif;
    text-align: center;
    margin: auto;
    position: absolute;
    top: -120px;
    left: 0;
    right: 0;
    bottom: 0;
}

.main_buttons
{
    width: 200px;
    height: 40px;
    background: #1e90ff;
    font-size: 20px;
    font-family: sans-sefif;
    border: 0;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
}

.main_buttons:hover
{
    background: #1ebfff;
    border: 1px solid blue;
}

.start_button
{
    top: 25px;
}

.show_top_button
{
    top: 170px;
}

.rename_button
{
    top: -120px;
}

.ending_messages
{
    width: 500px;
    font-size: 36px;
    margin: 0 auto;
    padding-left: 50px;
    position: absolute;
    bottom: 0;
}

.game_over_message
{
    top: 30px;
}

.end_score_message
{
    top: 78px;
}

.popup
{
    display: none;
    width: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    position: fixed;
    top: 0px;
}

.popup .popup_content
{
    width: 200px;
    height: 365px;
    background-color: #c5c5c5;
    box-shadow: 0px 0px 10px #000;
    margin: 40px auto 0px auto;
    padding: 10px;
    background: black;
    background-size: cover;
    border: 3px solid #84a4ff;
    box-shadow: 0 0 25px #84a4ff;
    font-size: 18px;
}

.header_popup
{
    text-align: center;
    display: inherit;
}

.top_players_paragraph
{
    height: 265px;
    width: 180px;
    margin: 0 auto;
    margin-top: 20px;
}

.hide_button
{
    display: inherit;
    margin: 20px auto;
    width: 60px;
    cursor: pointer;
    transition: color 0.3s ease-in;
}

.hide_button:hover
{
    color: #fff;
}